@page
@model PersonalCV.Pages.Admin.IndexModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "داشبورد";
}
<div class="card">
    <h5 class="card-header">Hoverable rows</h5>
    <div class="text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>شماره تماس</th>
                    <th>موضوع</th>
                    <th>پیام</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model.ContactMessage)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Name</strong></td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Subject</td>
                        <td>@item.Message</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> ویرایش</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> حذف</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            @if (Model.ContactMessage.Count > 9)
            {
                <tfoot class="table-border-bottom-0">
                    <tr>
                        <th>نام</th>
                        <th>ایمیل</th>
                        <th>شماره تماس</th>
                        <th>موضوع</th>
                        <th>پیام</th>
                        <th>عملیات</th>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
</div>